@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Montserrat|Poppins&amp;display=swap);

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: Poppins, sans-serif;
    color: #212529;
}

.hero-section {
    background-image: url('/public/hero-football.jpg');
    background-size: cover;
    background-position: 50%;
    min-height: 300px;
    position: relative;

}

.fancy-link {
    color: #292a2a;
    transition: box-shadow .15s;
    box-shadow: inset 0 -2px 0 0 #347ab8;
    cursor: pointer;
    padding: 5px
}

.fancy-link:hover {
    box-shadow: inset 0 -2rem 0 0 #347ab8;
    color: #fff;
    text-decoration: none
}

/* .active.active, */
.active:hover {
    border-bottom: 3px solid #fff;
}

.t-head {
    flex: 1;
    margin: 5px;
    min-width: 30px;
    text-align: center;
}

.t-row {
    flex: 1;
    margin: 5px;
    min-width: 30px;
    text-align: center;
    font-weight: 500;
}

/* .matches-row:nth-child(odd) {
    border-right: 0.5px solid #dedede;
} */

/* .match:nth-child(odd) {
    border-right: 0.5px solid #dedede;
} */